/* 这是粉丝页面的css */
.fans-Page {
    display: none;
}

/* 顶部粉丝title和返回按钮 */
.fans-Page-top {
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eee;

    line-height: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.fans-Page-back {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0,-50%);
}


/* 下方渲染粉丝盒子 */
.fans-Father {
    position: relative;
    width: 425px;
    top: -2px;

    margin: 0 auto;
    border-bottom: 2px solid #eee;
}

.fans-box {
    position: relative;
    width: 100%;
    height: 60px;
    border-top: 1px solid #eee;
}

/* 头像 */
.fans-avatar {
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0,-50%);

    width: 34px;
    height: 34px;
    border-radius: 17px;
}
.fans-avatar img {
    position: absolute;
    left: 0px;
    top: 0px;

    width: 34px;
    height: 34px;
}

/* 昵称 */
.fans-nickname {
    position: absolute;
    left: 58px;
    top: 50%;
    transform: translate(0,-50%);

    font-size: 16px;
    font-weight: 500;
}

/* 关注按钮 */
.fans-followBtn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0,-50%);

    width: 75px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #a063d4;

    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #a063d4;
    background-color: white;

}

































