@font-face {
  font-family: "iconfont"; /* Project id 3334161 */
  src: url('iconfont.woff2?t=1651508181231') format('woff2'),
       url('iconfont.woff?t=1651508181231') format('woff'),
       url('iconfont.ttf?t=1651508181231') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun2:before {
  content: "\e63a";
}

.icon-shoucang1:before {
  content: "\e604";
}

.icon-kulian:before {
  content: "\e758";
}

.icon-youjiantou:before {
  content: "\e617";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-shoucang:before {
  content: "\e601";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-fenxiang:before {
  content: "\e6a5";
}

.icon-fenxiang1:before {
  content: "\e61c";
}

.icon-gerenxinxi_suozaibanji:before {
  content: "\e69d";
}

.icon-pinglun:before {
  content: "\e69b";
}

.icon-geren:before {
  content: "\e603";
}

.icon-chahao:before {
  content: "\e668";
}

.icon-aixin1:before {
  content: "\e60d";
}

.icon-pinglun1:before {
  content: "\e614";
}

.icon-zuojiantou:before {
  content: "\e62b";
}

.icon-gerenzhongxin:before {
  content: "\e626";
}

.icon-xianxingqianbi:before {
  content: "\e67d";
}

.icon-pengyouquan:before {
  content: "\e6dd";
}

.icon-biaoqing:before {
  content: "\e606";
}

